body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }

  footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    display: inline-block; /* Hace que los elementos estén en línea horizontalmente */
    margin-right: 20px;
  }